<div class="row">
  <div class="col-12">
    <h2>{{ articleDetails?.article?.article_title }}</h2>
    <h6>by
      <a (click)="onEditUser(articleDetails?.article?.article_user)" class="card-link">
        {{ articleDetails?.article?.article_user?.user_virtual_full_name }}
      </a> - {{articleDetails?.article?.article_date | date | uppercase }}
    </h6>
    <img [src]="imageToShow" alt="article_image" *ngIf="!isImageLoading" class='imageUpload img-fluid'>
    <p class="articleContent">{{ articleDetails?.article?.article_content }}</p>
    <div class='clearfix'></div>
    <button class="btn btn-secondary" (click)="onBack()">Retour</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <h4 class="page-title" class="font-weight-bold">comments</h4>
    </div>
  </div>
</div>


<div class="card" *ngFor="let articleComment of articleComments;" [attr.id]="'comment_' + articleComment.id">
    <div class="card-body">
      <h5 class="card-title">
        <a (click)="onEditUser(articleComment?.comment_user)" class="card-link">
          {{ articleComment?.comment_user?.user_virtual_full_name }}
        </a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{articleComment?.comment_date | date | uppercase}}</h6>
      <p class="card-text">{{articleComment?.comment_content}}</p>
      <a (click)="onUpdateArticleComment(articleComment)" class="card-link">Update Comment</a>
      <a (click)="onDeleteArticleComment(articleComment)" class="card-link">Delete Comment</a>
    </div>
</div>