<!-- https://getbootstrap.com/docs/4.1/examples/dashboard/# -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand bg-transparent shadow " href="#">Fivepoints BLOG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbarAdminHeader" aria-controls="topNavbarAdminHeader"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="topNavbarAdminHeader">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#"><span data-feather="user"></span> User profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onSignOut()"><span data-feather="log-out"></span> Sign out</a>
      </li>
    </ul>
  </div>
</nav>
<!--div class="container-fluid h-100">
  <div class="row h-100"!-->
<div class="container-fluid" id="containerResizeable">
  <div class="row" id="rowResizeable">
    <aside class="col-12 col-md-2 col-sm-4 p-0 bg-dark ">
      <nav class="navbar navbar-expand navbar-dark bg-dark flex-sm-column flex-row align-items-start py-2">
        <div class="collapse navbar-collapse">
          <ul class="flex-sm-column flex-row navbar-nav w-100 justify-content-between">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link pl-0" routerLink="dashboard">
                <span data-feather="home"></span>
                <span class="d-none d-sm-inline"> Dashboard <span class="sr-only">(current)</span></span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link pl-0" routerLink="users">
                <span data-feather="users"></span>
                <span class="d-none d-sm-inline"> Users</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link pl-0" routerLink="articles">
                <span data-feather="feather"></span>
                <span class="d-none d-sm-inline"> Articles</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link pl-0" routerLink="comments">
                <span data-feather="message-circle"></span>
                <span class="d-none d-sm-inline"> Comments</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </aside>
    <main class="col bg-faded py-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>